{% extends 'base.html.twig' %}

{% block title 'RetroColl Home'%}

{% block body %}

 <section class="intro">
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, voluptate! Commodi itaque
          quos aut mollitia reiciendis tempora voluptatibus animi nulla alias corporis, suscipit 
          reprehenderit dolor facilis earum deleniti asperiores. Dolor.Culpa tempora id provident 
          fugiat hic natus, officiis autem labore ut pariatur eum error dolorum quaerat dignissimos
          illo non in possimus architecto aspernatur temporibus? At ex rem voluptatibus ratione soluta!</p>
    <figure>
        <img src="{{asset('img/nes.jpg')}}"/>
    </figure>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde eaque ipsa officiis nesciunt velit repellat autem cum itaque natus saepe labore voluptatibus commodi illum suscipit, quaerat non blanditiis inventore voluptates?
    Quod cum non tempore, quisquam expedita placeat aliquid recusandae asperiores necessitatibus, consequuntur sed praesentium dolorum at. Cumque fugiat obcaecati quos reiciendis dignissimos nostrum praesentium, impedit enim officiis? Sapiente, inventore harum?
    Eveniet aspernatur corporis ducimus eius enim hic, quos, necessitatibus, ipsam cumque consequuntur eos earum doloremque perferendis placeat adipisci consectetur voluptatibus cum aut veniam. Quae pariatur, voluptatum accusamus minima inventore repudiandae?
    Tempora quo facere ut placeat, quis incidunt maxime, unde, quaerat vel esse laudantium. Architecto minima dolores eum culpa amet placeat, est quos vel enim, beatae similique fugiat excepturi asperiores dolor?
    Fugit amet ut in alias iure voluptate, autem id non sed quasi reprehenderit perspiciatis, magnam, suscipit labore mollitia ab placeat fugiat pariatur cumque ipsum veritatis sunt. At saepe accusamus voluptatum.
    Accusantium provident nesciunt, molestias hic laborum quos, error asperiores odit culpa dolorem, non eveniet optio perspiciatis beatae. Dolorum numquam neque inventore cupiditate, veniam corporis repellat doloremque provident dolore quisquam distinctio.
    Provident officiis odit tempora nam dolorem repudiandae aliquid ratione! A ex, sapiente veniam consequuntur quas reiciendis rerum soluta totam omnis eos porro nesciunt aut laborum quia atque earum exercitationem ullam.
    Mollitia commodi eaque dolorum nam iste consequatur alias? Corporis vel natus quos incidunt voluptas illo amet rem excepturi, eligendi explicabo earum quaerat! Dolores numquam modi pariatur sequi, atque quos soluta?
    Veritatis reprehenderit distinctio aut eum, aliquid optio explicabo numquam facilis soluta est blanditiis incidunt necessitatibus, atque voluptas hic dolor, voluptatum nam quas? Autem, maiores nesciunt! Voluptate itaque modi repudiandae nihil!
    Debitis voluptates voluptate consequuntur saepe maiores eum deserunt iusto. Sequi alias cupiditate unde nihil corrupti molestias, repellendus iste, libero deserunt ratione placeat harum magnam quam, earum doloremque culpa enim dolorem.
    Eaque explicabo ut magni minima fugit reprehenderit placeat qui, distinctio repellat, maxime cumque. Hic dolore dolorum dicta? Alias qui aspernatur quas aut. At magnam ipsam id quam cumque. Cum, rerum. Rem, sequi error. Dolorem velit enim minus dolore, commodi soluta, omnis consequuntur porro amet placeat dolorum in doloribus nihil fugit quaerat maiores necessitatibus, neque aut ab accusantium itaque alias est?</p>
</section>

    {% endblock %}
