{% extends 'base.html.twig' %}

{% block title 'Jeux' %}

{% block body %}

    <h1 class="nes-text is-success">Page d'accueil de la section jeux</h1>

    <section class="flex">

        {% include 'menu.html.twig'%}

        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum itaque dolorum voluptatibus sequi amet voluptate rem alias magni quam minus voluptas facere, esse maxime quae rerum atque quasi explicabo libero.Temporibus nam architecto in dolorem hic, alias esse aperiam ipsum? Iste repudiandae nulla repellat? Rem veniam laudantium harum deserunt deleniti veritatis labore ratione laborum eum. Veniam consequuntur natus nobis fuga?</p>
        </div>
    </section>

{% endblock %}
