<!DOCTYPE html>
<html lang="fr">

<html>
    <head>
        <!--  MAIN META   -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--  TITLE   -->
    <title>{% block title %}{% endblock %}</title>

    <!--  SECONDARY META  -->
    <meta name="description" content="RetroColl">
    <meta name="author" content="Valentin ANTOIN">

    <!--  OPENGRAPH  -->
    <meta property="og:title" content="RetroColl">
    <meta property="og:type" content="website">
    <meta property="url" content="#">
    <meta property="og:image" content="#">
    <meta property="og:description" content="RetroColl">

    <!--  TWITTER  -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="#">
    <meta name="twitter:title" content="RetroColl">
    <meta name="twitter:description" content="RetroColl">
    <meta name="twitter:creator" content="@Valentin_Antoin">
    <meta name="twitter:image" content="#">

    <!--  ICONS   -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('img/favicon.png') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!--   NORMALIZE   -->
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">

    <!--   GOOGLE SEARCH CONSOLE   -->

    <!--   FONTS   -->
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">

    <!--  CSS STYLESHEET   -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    </head>

    <body>
    
        <nav class="navbar fixed-top navbar-expand-lg">
            <div class="nes-container is-dark with-title">
                <p class="title">Bienvenue sur RetroColl</p>
                <a class="nes-btn is-warning" href="{{path('main')}}">Accueil</a>
                <a class="nes-btn is-primary" href="{{path('home')}}">Jeux</a>
                <a class="nes-btn is-primary">Inscription</a>
                <a class="nes-btn is-primary">Connexion</a>
            </div>
        </nav>

        {% block body %}{% endblock %}

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
