<div class="nes-container is-rounded menu">
    <button type="button" class="btn btn-secondary nes-container is-rounded">Tous</button>
    <button type="button" class="btn btn-secondary nes-container is-rounded">Plate-forme</button>
    <button type="button" class="btn btn-secondary nes-container is-rounded">Créer</button>
</div>