<div class="nes-container is-rounded menu">
    <a href="" type="button" class="btn btn-secondary nes-container is-rounded">Tous</a>
    <a href="{{path('platforms')}}" type="button" class="btn btn-secondary nes-container is-rounded">Plate-forme</a>
    <a type="button" class="btn btn-secondary nes-container is-rounded">Créer</a>
</div>